.eou h3 {
    margin-bottom: 4rem;
}

.eou li span {
    opacity: 0.7;
}

.eou section img {
    border: 0px; background: none;
    box-shadow: none;
}

.eou table td {
    text-align: center;
}

.eou #nametable {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.eou #nametable > div {
    flex-grow: 1;
}

.eou #nametable small {
    margin-top: 1rem;
    font-size: 80%;
}

.eou cite {
    font-size: 2rem;
    color: #999;
    float: right;
    margin-top: 2rem;
}

#slide-name {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #444;
    font-size: 4rem;
    z-index: 1;
}

.eou #honest > :first-child {
    display: inline-block;
    width: 0;
    overflow: visible;
}

.eou #honest > :nth-child(2) {
    color: orange;
}

.eou .replace2 {
    color: white;
}

.eou .replace2 > span:first-child {
    color: white;
}

.eou .replace2 > span:nth-child(2) {
    color: white;
}

.eou #BLOC > div,
.eou #BCVE > div {
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.eou #BLOC > div > div:nth-child(1),
.eou #BCVE > div > div:nth-child(1) {
    flex-basis: 30%;
}

.eou #BLOC > div > div:nth-child(2),
.eou #BCVE > div > div:nth-child(2) {
    flex-basis: 70%;
}

.eou #BLOC > div > div:nth-child(2),
.eou #BCVE > div > div:nth-child(2) {
    text-align: left;
}

.eou div.twoheap {
    display: flex;
    justify-content: space-around;
}

.eou div.twoheap > div {
    width: 250px;
}

.eou div.twoheap > div > div:first-child {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.eou div.twoheap .heap {
    height: 300px;
    background-color: #333;
    border: 1px solid white;
}

.eou div.twoheap .stack {
    height: 150px;
    background-color: #444;
    border: 1px solid white;
    border-top: 0;
}

.eou div.twoheap .heap > span,
.eou div.twoheap .stack > span {
    font-size: 14px;
    padding: 4px;
    float: left;
}

.eou #TANGLE img {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Stick figure balloon illustrations */

.eou .stickarea {
    width: 800px;
    height: 500px;
}

.eou .stickarea .b,
.eou .stickarea .g {
    width: 200px;
    height: 200px;
}

.eou .stickarea .b {
    position: absolute;
    top: 300px;
    left: 100px;
}

.eou .stickarea .g {
    position: absolute;
    top: 300px;
    left: 500px;
}

.eou .stickarea .o {
    width: 300px;
}

.eou .dialog {
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 130px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
}

.eou #balloon-owned {
    position: absolute;
    top: 80px;
    left: 130px;
    visibility: hidden;
}

.eou #balloon-owned.visible {
    visibility: visible;
}

.eou #balloon-owned.moved {
    position: absolute;
    top: 80px;
    left: 380px;
    transition-duration: 1s;
}

.eou #balloon-owned-di {
    visibility: hidden;
}

.eou #balloon-owned-di.visible {
    visibility: visible;
}

.eou #balloon-owned.floated {
    top: -500px;
    transition-duration: 3s;
}

.eou #balloon-sh {
    width: 130px;
    position: absolute;
    top: 80px;
    left: 215px;
    transition-duration: 2s;
}

.eou #string-sh {
    width: 50px;
    height: 160px;
    position: absolute;
    top: 214px;
    left: 256px;
    transition-duration: 2s;
}

.eou #balloon-sh.moved {
    width: 130px;
    position: absolute;
    top: 250px;
    left: 455px;
    transition-duration: 2s;
}

.eou #string-sh.moved {
    width: 50px;
    height: 260px;
    position: absolute;
    top: 240px;
    left: 370px;
    transform: rotateZ(95deg);
    transition-duration: 2s;
}

.eou #balloon-mut {
    width: 130px;
    position: absolute;
    top: 80px;
    left: 215px;
    transition-duration: 2s;
}

.eou #string-mut {
    width: 50px;
    height: 160px;
    position: absolute;
    top: 214px;
    left: 256px;
    transition-duration: 2s;
}

.eou #balloon-mut.moved {
    width: 130px;
    position: absolute;
    top: 250px;
    left: 455px;
    transition-duration: 2s;
}

.eou #string-mut.moved {
    width: 50px;
    height: 260px;
    position: absolute;
    top: 240px;
    left: 370px;
    transform: rotateZ(95deg);
    transition-duration: 2s;
}

.eou #pop {
    visibility: hidden;
    width: 200px;
    position: absolute;
    top: 60px;
    left: 180px;
}

.eou #pop.visible {
    visibility: visible;
}

.eou #balloon-mut.popped {
    visibility: hidden;
    transition-duration: 0s;
}

.eou #string-mut.popped {
    visibility: hidden;
    transition-duration: 0s;
}

.eou pre > code {
    padding: 2rem;
}

.eou #ROWN .bluh,
.eou #ROWN .bluh .hljs-built_in,
.eou #ROWN .bluh .hljs-string {
    color: red;
}

/* Timeline stuff */

.eou .timeline > div:first-child {
    margin-top: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 100%;
}

.eou .timeline > :first-child > span {
    border: 1px solid white;
    text-align: left;
    line-height: 8rem;
}

.eou .timeline > p {
    margin-top: 4rem;
}

/* Timeline colors */

.eou .timeline > :first-child > :nth-child(1) {
}

.eou .timeline > :first-child > :nth-child(2) {
}

.eou .timeline > :first-child > :nth-child(3) > span {
    background-color: rgb(34, 34, 34);
}

.eou .timeline > :first-child > :nth-child(3) {
}

/* Active timeline colors */

/* http://www.colourlovers.com/palette/4476342/party_time_! */

.eou .timeline > :first-child > .x:nth-child(1) {
    background-color: #B52E63;
}

.eou .timeline > :first-child > .x:nth-child(2) {
    background-color: #9525C9;
}

.eou .timeline > :first-child > :nth-child(3) > span.x {
    background-color: #D0711B;
}

.eou .timeline > :first-child > .x:nth-child(3) {
    background-color: #435CD4;
}

/* Default timeline styles */

.eou .timeline > :first-child > :nth-child(1) {
    width: 40%;
}

.eou .timeline > :first-child > :nth-child(2) {
    width: 20%;
}

.eou .timeline > :first-child > :nth-child(3) > span {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    position: relative;
    border: 2px solid white;
    vertical-align: middle;
    transform: translateX(-1.25rem) translateY(-0.2rem);
    border-radius: 1.25rem;
}

.eou .timeline > :first-child > :nth-child(3) {
    width: 40%;
}

/* Active timeline styles */

.eou .timeline > :first-child > :nth-child(3) > span.x {
    width: 10rem;
    height: 10rem;
    transform: translateX(-5rem) translateY(-1.1rem);
    border-radius: 5rem;
    border: 3px solid white;
}

.eou .timeline > :first-child > :nth-child(3) > span.x.small {
    width: 2.5rem;
    height: 2.5rem;
    transform: translateX(-1.25rem) translateY(-0.2rem);
    border-radius: 1.25rem;
    border: 2px solid white;
}
